@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@400;700&family=Roboto&display=swap');

#app {
  height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 26px;
  background-color: #F5F7FA;
  font-family: GothicA1, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #3D3D3D;
  overflow: auto;
}

.container {
  height: 100%;
  /* margin: 0 auto; */
}

.btn {
  width: 240px;
  height: 40px;
}